@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Circular Std", sans-serif;
}

.card-connector {
  position: relative;
}
.card-connector::before,
.card-connector::after {
  position: absolute;
  content: "";
  width: 58px;
  height: 50px;
  border: none;
}

/* 1st child */
.card-connector:nth-child(1):after {
  bottom: -11px;
  right: -59px;
  border-top-right-radius: 16px;
  border-top: 2px solid #c4b5fd;
  border-right: 2px solid #c4b5fd;
}
.card-connector:nth-child(1):before {
  bottom: -61px;
  right: -116px;
  border-bottom-left-radius: 16px;
  border-bottom: 2px solid #c4b5fd;
  border-left: 2px solid #c4b5fd;
}

/* 3rd child */
.card-connector:nth-child(3):after {
  bottom: -11px;
  left: -59px;
  border-top-left-radius: 16px;
  border-top: 2px solid #c4b5fd;
  border-left: 2px solid #c4b5fd;
}
.card-connector:nth-child(3):before {
  bottom: -61px;
  left: -116px;
  border-bottom-right-radius: 16px;
  border-bottom: 2px solid #c4b5fd;
  border-right: 2px solid #c4b5fd;
}

/* 4th child (straight) */
.card-connector:nth-child(4):after {
  bottom: -9px;
  right: -59px;
  border-top: 2px solid #c4b5fd;
}
.card-connector:nth-child(4):before {
  top: -9px;
  right: -115px;
  border-bottom: 2px solid #c4b5fd;
}

/* 5th child (straight) */
.card-connector:nth-child(5):after {
  bottom: -9px;
  left: -59px;
  border-top: 2px solid #c4b5fd;
}
.card-connector:nth-child(5):before {
  top: -9px;
  left: -116px;
  border-bottom: 2px solid #c4b5fd;
}

/* 6th child */
.card-connector:nth-child(6):after {
  bottom: 41px;
  right: -59px;
  border-bottom-right-radius: 16px;
  border-bottom: 2px solid #c4b5fd;
  border-right: 2px solid #c4b5fd;
}
.card-connector:nth-child(6):before {
  bottom: 91px;
  right: -116px;
  border-top-left-radius: 16px;
  border-top: 2px solid #c4b5fd;
  border-left: 2px solid #c4b5fd;
}

/* 7th child */
.card-connector:nth-child(7):after {
  bottom: 41px;
  left: -59px;
  border-bottom-left-radius: 16px;
  border-bottom: 2px solid #c4b5fd;
  border-left: 2px solid #c4b5fd;
}
.card-connector:nth-child(7):before {
  bottom: 91px;
  left: -116px;
  border-top-right-radius: 16px;
  border-top: 2px solid #c4b5fd;
  border-right: 2px solid #c4b5fd;
}

/* when the switch is on */
.card-connector.is-on:nth-child(1):after,
.card-connector.is-on:nth-child(1):before,
.card-connector.is-on:nth-child(3):after,
.card-connector.is-on:nth-child(3):before,
.card-connector.is-on:nth-child(4):after,
.card-connector.is-on:nth-child(4):before,
.card-connector.is-on:nth-child(5):after,
.card-connector.is-on:nth-child(5):before,
.card-connector.is-on:nth-child(6):after,
.card-connector.is-on:nth-child(6):before,
.card-connector.is-on:nth-child(7):after,
.card-connector.is-on:nth-child(7):before {
  border-color: rgb(139, 92, 246, 0.9);
  z-index: 10;
}
