@import "./variables.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Circular Std", sans-serif;
}

/* ==================== CARD CONNECTORS ==================== */
.card-connector {
  position: relative;
}
.card-connector::before,
.card-connector::after {
  position: absolute;
  content: "";
  width: var(--connector-width);
  height: var(--connector-height);
  border: none;
}

/* ========== LEFT CARDS ==========*/

/* top  */
.card-connector:nth-child(1):after {
  bottom: var(--connector-offset-small);
  right: var(--connector-offset-medium);
  border-top-right-radius: var(--connector-border-radius);
  border-top: var(--connector-border) solid var(--connector-border-color);
  border-right: var(--connector-border) solid var(--connector-border-color);
}
.card-connector:nth-child(1):before {
  bottom: var(--connector-offset-medium);
  right: var(--connector-offset-large);
  border-bottom-left-radius: var(--connector-border-radius);
  border-bottom: var(--connector-border) solid var(--connector-border-color);
  border-left: var(--connector-border) solid var(--connector-border-color);
}

/* middle  (straight) */
.card-connector:nth-child(4):after {
  top: var(--connector-offset-small);
  right: var(--connector-offset-medium);
  border-bottom: var(--connector-border) solid var(--connector-border-color);
}

/* bottom left */
.card-connector:nth-child(6):after {
  bottom: var(--connector-offset-bottom);
  right: var(--connector-offset-medium);
  border-bottom-right-radius: var(--connector-border-radius);
  border-bottom: var(--connector-border) solid var(--connector-border-color);
  border-right: var(--connector-border) solid var(--connector-border-color);
}
.card-connector:nth-child(6):before {
  bottom: var(--connector-offset-bottom-large);
  right: var(--connector-offset-large);
  border-top-left-radius: var(--connector-border-radius);
  border-top: var(--connector-border) solid var(--connector-border-color);
  border-left: var(--connector-border) solid var(--connector-border-color);
}

/* ========== RIGHT CARDS ========== */

/* top */
.card-connector:nth-child(3):after {
  bottom: var(--connector-offset-small);
  left: var(--connector-offset-medium);
  border-top-left-radius: var(--connector-border-radius);
  border-top: var(--connector-border) solid var(--connector-border-color);
  border-left: var(--connector-border) solid var(--connector-border-color);
}
.card-connector:nth-child(3):before {
  bottom: var(--connector-offset-medium);
  left: var(--connector-offset-large);
  border-bottom-right-radius: var(--connector-border-radius);
  border-bottom: var(--connector-border) solid var(--connector-border-color);
  border-right: var(--connector-border) solid var(--connector-border-color);
}

.card-connector:nth-child(4):before {
  top: var(--connector-offset-small);
  right: var(--connector-offset-large);
  border-bottom: var(--connector-border) solid var(--connector-border-color);
}

/* middle (straight) */
.card-connector:nth-child(5):after {
  top: var(--connector-offset-small);
  left: var(--connector-offset-medium);
  border-bottom: var(--connector-border) solid var(--connector-border-color);
}
.card-connector:nth-child(5):before {
  top: var(--connector-offset-small);
  left: var(--connector-offset-large);
  border-bottom: var(--connector-border) solid var(--connector-border-color);
}

/* bottom */
.card-connector:nth-child(7):after {
  bottom: var(--connector-offset-bottom);
  left: var(--connector-offset-medium);
  border-bottom-left-radius: var(--connector-border-radius);
  border-bottom: var(--connector-border) solid var(--connector-border-color);
  border-left: var(--connector-border) solid var(--connector-border-color);
}
.card-connector:nth-child(7):before {
  bottom: var(--connector-offset-bottom-large);
  left: var(--connector-offset-large);
  border-top-right-radius: var(--connector-border-radius);
  border-top: var(--connector-border) solid var(--connector-border-color);
  border-right: var(--connector-border) solid var(--connector-border-color);
}

/* WHEN THE SWITCH IS ON */
.card-connector.is-on:nth-child(1):after,
.card-connector.is-on:nth-child(1):before,
.card-connector.is-on:nth-child(3):after,
.card-connector.is-on:nth-child(3):before,
.card-connector.is-on:nth-child(4):after,
.card-connector.is-on:nth-child(4):before,
.card-connector.is-on:nth-child(5):after,
.card-connector.is-on:nth-child(5):before,
.card-connector.is-on:nth-child(6):after,
.card-connector.is-on:nth-child(6):before,
.card-connector.is-on:nth-child(7):after,
.card-connector.is-on:nth-child(7):before {
  border-color: var(--connector-border-color-active);
}
